{% load static %}

<nav class="navbar navbar-expand-sm navbar-dark bg-primary py-0 mb-4 fixed-top text-white">
    <div class="container-fluid ">
        <a href="{% url 'mip-home' %}" class="brand-logo text-white">
            <img class="img-fluid logo-banner px-2 m-1" width="84" height="28" src="{% static 'mipweb/logos/acserc_georgia_ad05.svg' %}" alt="Website-Logo">
        </a>
        <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenuTop"
            aria-controls="navmenuTop"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mip-menu" id="navmenuTop">
            <ul class="navbar-nav px-0 mb-lg-0 flex-nowrap nav-list">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'mip-home' %}"><i class="fa fa-home px-1"></i>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mip-team' %}"><i class="fa fa-users px-1"></i>Our Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link flex-wrap" href="#cs-ip"><i class="fa fa-laptop px-1"></i>CompSci. Impossible Jump</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-university px-1"></i>Research</a>
                    <ul class="sub-menu mt-2">
                        <li><a href="#"><i class="fa fa-th-list px-1" aria-hidden="true"></i>Our Research Interests</a></li>
                        <li><a href="#"><i class="fa fa-book px-1" aria-hidden="true"></i>Our Published Books</a></li>
                        <li><a href="#"><i class="fa fa-graduation-cap px-1" aria-hidden="true"></i>Our Scientific Papers</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-handshake-o px-1"></i>Partner With Us</a>
                    <ul class="sub-menu mt-2">
                        <li><a href="{% url 'mip-partner' %}"><i class="fa fa-gg-circle px-1" aria-hidden="true"></i>Collaborate with us</a></li>
                        <li><a href="{% url 'mip-donor' %}"><i class="fa fa-credit-card px-1" aria-hidden="true"></i>Donate to our Research</a></li>
                        <li><a href="{% url 'mip-partner' %}"><i class="fa fa-wrench px-1" aria-hidden="true"></i>Hire our Services</a></li>
                        <li><a href="{% url 'mip-partner' %}"><i class="fa fa-table px-1" aria-hidden="true"></i>Request for a Demo</a></li>
                        <li><a href="#"><i class="fa fa-compass px-1" aria-hidden="true"></i>Make a Follow Up</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-folder px-1"></i>IEC Standards</a>
                    <ul class="sub-menu mt-2">
                        <li><a href="#"><i class="fa fa-folder-open px-1" aria-hidden="true"></i>IEC Standards Conformity</a></li>
                        <li><a href="#"><i class="fa fa-folder-open-o px-1" aria-hidden="true"></i>ACFTA IEC Standards Ecosystem</a></li>
                        <li><a href="#"><i class="fa fa-th px-1" aria-hidden="true"></i>SmartGrid Systems</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-heartbeat px-1"></i>LifeLinesNets & Disaster Protection</a>
                    <ul class="sub-menu mt-2">
                        <li><a href="#"><i class="fa fa-medkit px-1" aria-hidden="true"></i>ILLIE - Disaster Protection</a></li>
                        <li><a href="#"><i class="fa fa-align-center px-1" aria-hidden="true"></i>LifeLinesNets Emergency States</a></li>
                        <li><a href="#"><i class="fa fa-table px-1" aria-hidden="true"></i>LifeLinesNets Topological Reliability</a></li>
                        <li><a href="#"><i class="fa fa-snowflake-o px-1" aria-hidden="true"></i>LifeLinesNets Critical Infrastructure<i class="icon ion-md-arrow-dropright right-arrow"></i></a>
                            <ul class="sub-menu2 mt-2">
                                <li><a href="#"><i class="fa fa-cube px-1" aria-hidden="true"></i>Critical Power Systems</a></li>
                                <li><a href="#"><i class="fa fa-cubes px-1" aria-hidden="true"></i>Critical Financial Systems</a></li>
                                <li><a href="#"><i class="fa fa-database px-1" aria-hidden="true"></i>Critical National Databases</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header bottom-navbar">
            <nav></nav>
        </div>
    </div>
</nav>
