{% extends 'base.html' %}

{% load static %}
{% block meta_description %}LDN Discoveries on [NP≠P] {% endblock %}
{% block title %} ACS-ERC, Making Impossible Possible: Research Breakthrough on [NP≠P] {% endblock %}
{% block content %}
    <div class="container-fluid text-white text-center mt-5 pt-0 border border-4 border-info">
        {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% for msg in messages %}
                <div><strong>{{ msg }}</strong></div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="row tsp-title fw-bold text-center pt-4 border border-2 border-warning rouded-pill">
            <h1 class="research-txt p-2">Research Breakthrough</h1>
            <h2>
                TSP[NP=P] LDN Individual Research Initiative 1988-2021
            </h2>
            <br/>
            <p>
                Lusaka, Zambia
            </p>
        </div>

        <div class="row image-matrix">
            <h1 class="graph-title p-4">TSP [NP=P] and TSP [NP≠P] 3D Matric Spaces</h1>
            <img class="img-fluid image-matrix m-2" width="32" height="16" src="{% static 'mipweb/images/mip_home_matrix_caption.svg' %}" alt="Image-Matrix">
        </div>

        <!-- <div class="row tsp-title fw-bold text-center pt-4 border border-2 border-warning rouded-pill">
            <h2>
                TSP[NP=P] LDN Individual Research Initiative 1988-2021
            </h2>
            <br/>
            <p>
                Lusaka, Zambia
            </p>
        </div> -->
    
        <div class="row slns-title fw-bold text-center pt-4 border border-2 border-warning">
            <h1 class="mip-slns p-2">Solving the Impossible</h1>
            <p>
                Groupoid Submodular Network Algebra<br/>
                Travelling Salesman Problem Solvability States:<br/>
                Impossible [NP\(\boldsymbol{\neq}\)P] 1D Solid-Nodeset-Graph and<br/>
                Approxiamte [NP\(\boldsymbol{\approx}\)P] 2D Split-Node-Cover Matrix and<br/>
                Solvable[NP=P] 3D Split-Node-Cover Molecular-Weight Periodic-Table<br/>
            </p>
        </div>
    
        <div class="row ldn-brief-bio fw-bold text-center pt-4 border border-2 border-warning">
            <h1 class="lead-inventor p-2">The Lead Researcher and Inventor</h1>
            <p>
                Lemba D. Nyirenda Ph.D. (UC Irvine, CA, USA)<br/>
                Fellow Engineering Institute of Zambia, Registered Engineer Zambia Engineers Registration Board<br/>
                Senio Life Member Institute of Electrical & Electronic Engineers (USA), Life Member Alumni UC Irvine (USA)<br/>
                Member Institute of ORMS-A (Operational Research & Management Science & Analytics, USA)<br/>
                University of Zambia Senior Lecturer Power Systems, Smart Grids Protection, Operation & Control,<br/>
                New Jerusalem University Professor Smart Lifelines Systems Disaster Protection & AI TSP ORMS-A<brr/>
                Zambia IEC National Committee Representative Africa Electrotechnical Standards Commission(AFSEC) Conformity Assessment Committee<br/>
                Email: lembanyirenda@gmail.com<br/><br/>
            </p>
        </div>

        <div class="row nju-link fw-bold text-center pt-4 border border-2 border-warning">
            <h1 class="title-hq">HQ - CENTRE OF EXCELLENCE</h1>
            <div class="col-lg-12 col-md-6 col-xs-12 loc-img pb-2 text-center">
                <span class=location-icon><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></span>
            </div>
            <div class="text-centre-hq pt-2">
            <p>
                New Jerusalem University<br/>
                Smart Lifelines Systems, Advanced Technology Park<br/>
                KAMAILA-AREA, CHISAMBA, ZAMBIA<br/>
                P.O. Box 320384 Woodlands, Lusaka, Zambia<br/><br/>
            </p>
            </div>
        </div>

        <div class="row trust-fund fw-bold text-center pt-4">
            <div class="trust-fund">
                TSP[NP=P] 30+ years Individual Research Appreciation NJU-Building Trust Fund<br/><br/>
                <p>If you would like to donate to our Trust Fund:</p>
                <button class="btn btn-warning contact-link"><a href="{% url 'mip-donor' %}">Please, pledge here</a></button>
            </div>
        </div>
    </div>
{% endblock %}