{% extends 'base.html' %}

{% load static %}
{% block meta_description %} Research Team of the ACS-ERC {% endblock %}
{% block title %} ACS-ERC: Research Breakthrough on [NP≠P] - Core Team {% endblock %}
{% block content %}

    <div class="container-fluid text-white mt-5 pt-5">
        <div class="team-heading border border-4 border-info rounded-pill text-center m-3 p-2">
            <h1>ACS-ERC Core Team</h1>
        </div>
        <div class="row ldn-details m-3 p-2">
            <div class="col-lg-3 col-md-2 col-sm-4 col-xs-12">
                <img class="img-fluid member-photo" src="{% static 'mipweb/images/ld_nyirenda.png' %}" alt="dr-nyirenda-photo">
            </div>
            <div class="col-lg-9 col-md-10 col-sm-8 col-xs-12 member-bio">
                <h2 class="member-name">Dr. Lemba D. Nyirenda</h2>
                <p class="member-brief">He is the Lead Researcher and Inventor of the NP = P Transform.
                    Lemba graduated from the University of Zambia in 1998 with a Bachelor of Engineering in Electrical
                    Engineering with major in Electrical Machines and Power. He then went to the University of California
                    Irvine, USA, where he obtained a Masters of Science in Power Systems and a PhD in Electrical Engineering
                    with his research focussing on Operational Research. He has vast experience in industry, research and
                    academia. He holds a patent in an algorithm which resolves NP = P Transform.
                </p><br/>
            </div>
        </div>

        <div class="row js-details m-3 p-2">
            <div class="col-lg-3 col-md-2 col-sm-4 col-xs-12">
                <img class="img-fluid member-photo" src="{% static 'mipweb/images/KingJ01.png' %}" alt="dr-nyirenda-photo">
            </div>
            <div class="col-lg-9 col-md-10 col-sm-8 col-xs-12 member-bio">
                <h2 class="member-name">Mr. Julien M. Shabani</h2>
                <p class="member-brief">He is a researcher and IT Specilist in Software Engineering and Cyber Security.
                    Julien graduated from the University of Zambia in 1998 with a Bachelor of Engineering in Electrical
                    Engineering with major in Electronics and Telecommunications. In 2008, he obtained a Masters of 
                    Science in Information Security from Royal Holloway, University of London, UK.
                    He has more than 20 years of experience in Information Technology (IT); covering software 
                    engineering, Cyber Security, and Enterprise Risk Management (ERM). 
                    He is currently working as a Lecturer in the Department of Electrical and Electronic Engineering at
                    the University of Zambia. 
                    His research interests are in Cyber Security, Artificial Intelligence and Risk Management for resilience 
                    of Critical Infrastructures.
                </p><br/>
            </div>
        </div>
    </div>

{% endblock %}